

<form action="/attack1" method="post">

  <h1 id="full-name"> GET YOUR GAME ON</h1>
  <h2 id="full-name"> Player 2 attacking</h2>
  <body>
  <p><%= `${"Player1: "}${player1Name} ${"Health: "}${player1Health}` %> </p>


  <p><%= `${"Player2: "}${player2Name} ${"Health: "}${player2Health}` %> </p>

  <input id="submit-button" type="submit" value="Attack!">
  </body>

</form>
