<h1 id="welcome">Hi, team!</h1>
<form action="/name" method="post">
  <input id="first-name" type="text" name="firstName">
  <input id="last-name" type="text" name="lastName">
  <input id="submit-button" type="submit" value="go!">
</form>
