<h1 id="welcome">Get your game on</h1>
<form action="/name" method="post">
  <p>Player 1</p>
  <input id="player1-name" type="text" name="player1Name">
<p>Player 2</p>
  <input id="player2-name" type="text" name="player2Name">
  <input id="submit-button" type="submit" value="go!">
</form>
